{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Dashboard - {{ title }}</title>
    {% else %}
    <title>Doctor Dashboard</title>
    {% endif %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dashboard_layout.css">
</head>

<body>
    <div class="container">

        <div class="header">
            <nav>
                <ul>
                    <li class="username">Hello, Dr.{{user.get_full_name}}</li>
                    <li class="logout"><a href="{% url 'users:logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <ul>
                <li>
                    <img class="link-icon" src="{% static 'images/icons/dashboard_2.png' %}" alt="">
                    <a href="#">Dashboard</a>
                </li>

                <li>
                    {% if user.gender == 'male' %}
                    <img class="link-icon" src="{% static 'images/icons/male.png' %}" alt="">
                    {% else %}
                    <img class="link-icon" src="{% static 'images/icons/icons8-collaboration-100.png' %}" alt="">
                    {% endif %}
                    <a href="#">Profile</a>

                </li>

                <li>
                    <img class="link-icon" src="{% static 'images/icons/checkup.png' %}" alt="">
                    <a href="#">Appoinments</a>
                </li>

                <li>
                    <img class="link-icon" src="{% static 'images/icons/notification.png' %}" alt="">
                    <a href="#">Notifications</a>
                </li>

                <li>
                    <img class="link-icon" src="{% static 'images/icons/medical-appointment.png' %}" alt="">
                    <a href="#">Drug Schedule</a>
                </li>

                <li>
                    <img class="link-icon" src="{% static 'images/icons/map_2.png' %}" alt="">
                    <a href="{% url 'users:maps' %}">Clinics near me</a>
                </li>
            </ul>
        </div>
    </div>


        <div class="content">
            {% block content %} {% endblock %}
        </div>


    </div>
</body>

</html>