:root {
    /* Colors */
    --main-bg-color: #e8e7eb4b;
    --header-bg-color: #c9c8d56c;
    --primary-btn-bg-color: #6156e7;
    --secondary-btn-bg-color: #fff;
    --btn-border-color: #5f56c8;
    --main-font-color: #3c3c4b;

    --primary-btn-hover-color: #6256e7c7;
    --secondary-btn-hover-color: var(--primary-btn-bg-color);

    /* Fonts */
    --font-color: #6366F1;
    --font-color-2: #9CA3AF;
    --font-stack: "Comfortaa", cursive;
    --font-height: 1.4em;
    --title-font-size: 2.4em;
    --text-font-size: 1.6em;

    /* Border */
    --border-color: #E5E7EB;
}

.cards-section {
    display: flex;
    flex-flow: row wrap;
    height: 150px;
    justify-content: space-around;
    margin-top: .5em;
    margin-bottom: 1.7em;
}

.card {
    background-color: #fcfefebe;
    border: 1px solid;
    margin: 10px 0px;
    width: 11em;
    border-radius: .5em;
    border: 2px solid var(--border-color);
    box-shadow:
        .2em .2em var(--border-color),
        .01em .01em .5em var(--border-color);

}

.card>hr {
    width: 80%;
    margin: auto;
    margin: 1em;
}

.card-icon {
    width: 2.3em;
    margin: auto;
    margin-top: .5em;
}

.card-content {
    width: 80%;
    margin: auto;
}

.card-content>h3 {
    text-align: center;
    color: var(--main-font-color);
    font-weight: bold;
    margin-top: -.5em;
}

.card-content>h4 {
    text-align: center;
    color: var(--font-color-2);
    opacity: .7;
}


.main-section {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    border: 1px solid;
}

.heart-rate-chart {
    width: 68%;
    background-color: aquamarine;
}

.patient-detail-card {
    width: 28%;
    /* border: 1px solid; */
}



.charts-section {
    margin: auto;
    border-radius: 1em;
    width: 50%;
}

.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 3em;
}

.flex-wrapper .chart {
    width: 48%;
    border-radius: 1em;
}


.main-chart {
    display: flex;
    flex-flow: row wrap;
    /* background-color: rgb(207, 207, 207); */
    border: 1px solid var(--border-color);
    width: 70%;
    height: 11em;
    margin: auto;
    margin-top: 2em;
    font-size: 2em;
    border-radius: .6em;
    justify-content: center;
    align-content: center;
    background-color: #fcfefebe;
    box-shadow:
        .4em 0 .3em -0.01em var(--border-color),
        -0.001em 0em .001em 0.02em var(--border-color),
        0.01em 0em .1em 0.1em var(--border-color);

}



.secondary-chart {
    display: flex;
    width: 70%;
    gap: 1em;
    justify-content: space-between;
    margin: auto;
    margin-top: .9em;
    font-size: 2em;
}

.secondary-chart .chart {
    text-align: center;
    border-radius: .6em;
    width: 48%;
    height: 12em;
    background-color: #fcfefebe;
    box-shadow:
        .4em 0 .3em -0.01em var(--border-color);
}

.secondary-chart .chart h2 {
    margin-top: 4em;
}

.content-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.shadow {
    box-shadow:
        .2em .2em var(--border-color),
        .01em .01em .5em var(--border-color);
}


.header-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.header-section .user-card {
    order: -1;
    display: flex;
    flex-flow: row wrap;
    background-color: #6366F1;
    color: #fff;
    width: 63%;
    padding: 1.5em 0 1.5em 2em;
    border-radius: 1em;
}

.user-card .card-text {
    width: 80%;
}

.user-card .tree-img {
    order: 1;
    height: 4em;
    width: 18%;
}

.user-card h1 {
    font-size: 1.7em;
}

.header-section .info-card {
    order: 1;
    width: 35%;
    border-radius: 1em;
    background-color: #fcfefebe;
}

.info-card .info-detail {
    display: flex;
    justify-content: space-around;
    padding-top: .8em;
}

.info-card .info-detail .number {
    font-size: 1.8em;
}

.first {
    color: #2b2db3;
}

.second {
    color: #63b8f1;
}

.third {
    color: #f61e5f;
}

.info-card .info-detail .description {
    color: var(--font-color-2);
}


.main-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3em;
}

.main-section .activity-chart {
    width: 63%;
    border-radius: .5em;
}

.activity-chart canvas {
    border-radius: 1em;
}

.detail-card {
    width: 35%;
    border-radius: 1em;
}

.title {
    color: var(--font-color-2);
    font-size: 1.6em;
    text-align: center;
    margin-top: .2em;
    margin-bottom: 1em;
    letter-spacing: .1em;
}

.detail-card .user-detail {
    display: flex;
    flex-flow: row wrap;
}

.image {
    width: 4em;
    height: 4em;
    margin-left: .5em;
}

.detail-card .user-name {
    color: var(--main-font-color);
    margin: .4em 0em 0em .7em;
    font-size: 1.2em;
}

.detail-card .user-detail-cointainer {
    width: 63%;
    display: flex;
    flex-flow: column wrap;
}



.user-detail-cointainer .case {
    margin-left: .9em;
    color: var(--font-color-2);
    font-size: .9em;
}

.user-detail .icons-container {
    display: flex;
    justify-content: space-between;
    width: 3.4em;
}

.user-detail .icons-container .mail {
    display: flex;
    width: 1.3em;
    height: 1.6em;
    text-align: center;
    align-self: center;
}

.user-detail .icons-container .delete {
    display: flex;
    width: 1.3em;
    height: 1.6em;
    text-align: center;
    align-self: center;

}


.appoinments-section {
    display: flex;
    flex-flow: row wrap;
}


.rounded-image {
    border-radius: 2em;
}


.no-patients {
    color: #f61e5f;
    text-align: center;
    opacity: .5;
}