{% extends 'users/patient/patient_base.html' %}
{% block content %}

<style>
    #map{
        width: 95%;
        height: 80%;
        margin: auto;
    }

    h1 {
        margin: 1em 0em;
        text-align: center;
        color: #3c3c4b;
        font-size: 2em;
        letter-spacing: .1em;
    }

    iframe {
        width: 100%;
        height: 100%;
        box-shadow: 
        .6em .6em 6em var(--border-color),
        .01em .01em 6em var(--border-color);
        border-radius: 1em;

    }
</style>


<h1>Clinics around you</h1>
<div id="map">
    <iframe 
    width="600" 
    height="450" 
    style="border:0" 
    loading="lazy" 
    allowfullscreen 
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBPVlg4Qbuo6_4H8H64hxsem1gGFOVNzbU
    &q=clinics,{{city}}">
    </iframe>
</div>
{% endblock %}