{% extends 'users/doctor/doctor_base.html' %}
{% block content %}

<div class="m-auto w-5/6">

    <div class="text-center mt-32 mb-12">
        <div class="flex w-full">
            <div class="border border-gray-200 w-1/4 m-auto mt-6"></div>
            <div class="text-3xl text-gray-500 tracking-widest">Requested Appointments</div>
            <div class="border border-gray-200 w-1/4 m-auto mt-6"></div>
        </div>

    </div>

    <div>
        <table class="w-full table-auto">
            <thead class="bg-gradient-to-r from-green-400 to-blue-500">
                <tr>
                    <th class="py-4 text-lg text-white">ID</th>
                    <th class="py-4 text-lg text-white">Name</th>
                    <th class="py-4 text-lg text-white">Reason</th>
                    <th class="py-4 text-lg text-white">Date</th>
                    <th class="py-4 text-lg text-white">Status</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% if appointments %}
                {% if appointment.status != 'Accepted' %}
                {% for appointment in appointments %}
                <tr
                    class="bg-gray-100 shadow hover:bg-white {%if appointment.status == 'Rejected' %} line-through {% endif %} ">
                    <td class="px-6 py-4">
                        <div class="flex items-center space-x-3">
                            <div>
                                <p class="">
                                    {{forloop.counter}}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <p class="">
                            {{appointment.patient_id.patient.get_full_name}}
                        </p>
                    </td>
                    <td class="px-6 py-4 text-center">
                        {% if appointment.appointment_reason|length > 20 %}
                        <abbr class="border-b-2 border-solid ml-16" title="{{appointment.appointment_reason}}">
                            {{appointment.appointment_reason|slice:20}}...
                        </abbr>
                        {% else %}
                        {{appointment.appointment_reason}}
                    </td>
                    {% endif %}

                    <td class="px-6 py-4 text-center">
                        {{appointment.due_date|date}}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center">
                            {% if appointment.status == 'Accepted' %}
                            <div>
                                <p 
                                    class="text-lg border-2 border-green-500 rounded-full px-2 py-1 bg-green-500 text-white">
                                    Accepted</p>
                            </div>
                            {% elif appointment.status == 'Rejected' %}
                            <div>
                                <p
                                    class="text-lg border-2 border-red-500 rounded-full px-2 py-1 bg-red-500 text-white">
                                    Rejected</p>
                            </div>
                            {% else %}
                            <div>
                                <a href="{% url 'appointments:accept' appointment.pk %}"
                                    class="text-lg text-green-500 border-2 border-green-500 rounded-full px-2 py-1 hover:bg-green-500 hover:text-white">Accept</a>
                            </div>
                            <span>&nbsp;|&nbsp;</span>
                            <div>
                                <a href="{% url 'appointments:reject' appointment.pk %}"
                                    class="text-lg text-red-500 border-2 border-red-500 rounded-full px-2 py-1 hover:bg-red-500 hover:text-white">Reject</a>
                            </div>
                            {% endif %}

                        </div>
                    </td>
                </tr>
                <div class="my-4"></div>
                {% endfor %}
                {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}