<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/dashboard_layout.css">
</head>

<body>
    <div class="container">

        <div class="header">
            <nav>
                <ul>
                    <li class="search">Search</li>
                    <li class="logout">Logout</li>
                </ul>
            </nav>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Notifiactions</a></li>
                <li><a href="#">Appoinments</a></li>
                <li><a href="#">Drug schedule</a></li>
                <li><a href="#">Clincks near me!</a></li>
            </ul>
        </div>


        <div class="content">
            content
        </div>

        <div class="footer">
            footer
        </div>


    </div>
</body>

</html>